:root {
  --hero-title-color: #ffffff;
  --main-bcg-color: #ffffff;
  --accent-color: #2196f3;
  --header-logo-color: #000000;
  --main-title-color: #212121;
  --main-text-color: #757575;
  --second-hover-btn-color: #188ce8;
  --team-bcg-color: #f5f4fa;
  --second-bcg-color: #2f303a;
  --address-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: "Roboto", Arial, sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.logo__text {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header__logo {
  margin-right: 93px;
}

.logo__text--first-part {
  color: var(--accent-color);
}

.logo--black {
  color: var(--header-logo-color);
}

.logo--white {
  color: var(--hero-title-color);
}

.header {
  background-color: var(--main-bcg-color);
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
  align-items: center;
}

.navigation__list,
.contacts {
  display: flex;
}

.header__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-icons {
  margin-right: 10px;
  fill: currentColor;
  display: block;
}

.header__contacts {
  margin-left: auto;
}

.navigation__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  color: var(--main-title-color);
  position: relative;
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.current-underline::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: 0;
}

.contacts__link {
  color: var(--main-text-color);
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:last-child {
  margin-left: 30px;
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  max-width: 1600px;
  background-position: center;
}

.hero {
  background-color: var(--second-bcg-color);
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-title-color);
  display: inline-block;
  max-width: 696px;
  padding-bottom: 30px;
}

.hero-btn {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border-color: transparent;
  text-align: center;
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--hero-title-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover, .hero-btn:focus {
  cursor: pointer;
  background-color: var(--second-hover-btn-color);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.advantages-list__icons {
  display: flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: var(--team-bcg-color);
  margin-bottom: 30px;
  border-radius: 4px;
}

.advantages .container {
  display: flex;
}

.advantages-list {
  display: flex;
}

.advantages-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.advantages-list__text {
  color: var(--main-text-color);
  max-width: 270px;
}

.advantages-list__item {
  margin-right: 30px;
}
.advantages-list__item:last-child {
  margin-right: 0;
}

.main-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.about.section {
  padding-top: 0;
}

.about-title {
  text-align: center;
  margin-bottom: 50px;
  color: var(--main-title-color);
}

.about .container {
  justify-content: center;
}

.about-img {
  display: flex;
}

.about-list-img {
  margin-right: 30px;
}
.about-list-img:last-child {
  margin-right: 0;
}

.about-list-thumb {
  position: relative;
}

.thumb {
  position: absolute;
  display: block;
  width: 370px;
  height: 70px;
  text-align: center;
  align-items: center;
  padding-top: 27px;
  padding-bottom: 27px;
  top: 224px;
  background-color: rgba(47, 48, 58, 0.8);
}

.about-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-title-color);
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.soc {
  display: flex;
  justify-content: center;
}

.soc__link {
  display: flex;
  height: 44px;
  width: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc__link:hover, .soc__link:focus {
  fill: var(--hero-title-color);
  background-color: var(--accent-color);
}

.soc__item + .soc__item {
  margin-left: 10px;
}

.team__title {
  margin-bottom: 50px;
  text-align: center;
  color: var(--main-title-color);
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.team__item {
  width: calc(25% - 30px);
  margin-left: 30px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.team-content {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgb(255, 255, 255);
}

.team-content__member {
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--main-title-color);
}

.team-text-bottom {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.team {
  background-color: var(--team-bcg-color);
}

.team-content__position {
  font-weight: 400;
  color: var(--main-text-color);
  margin-bottom: 16px;
}

.client-list {
  display: flex;
}

.client-link {
  display: flex;
  height: 92px;
  width: 170px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  fill: rgb(175, 177, 184);
  padding: 16px 32px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover, .client-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.client-item + .client-item {
  margin-left: 30px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--second-bcg-color);
}
.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-link {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-address {
  max-width: 231px;
  margin-right: 70px;
}

.address-item {
  display: block;
  margin-bottom: 9px;
}
.address-item:last-child {
  margin-bottom: 0;
}

.address-text {
  font-style: normal;
  color: var(--hero-title-color);
}

.address-mail {
  font-style: normal;
  color: var(--address-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-mail:hover, .address-mail:focus {
  color: var(--hero-title-color);
}

.address-tel {
  font-style: normal;
  color: var(--address-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-tel:hover, .address-tel:focus {
  color: var(--hero-title-color);
}

.footer-title-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-title-color);
  margin-bottom: 20px;
}

.footer-icon {
  fill: var(--main-bcg-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.subscribe-footer {
  margin-left: 93px;
}

.subscribe-footer-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--address-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.subscribe-footer-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--address-color);
}

.footer-subscribe {
  display: flex;
}

.footer-btn {
  margin-left: 12px;
}

.footer-button {
  height: 50px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--hero-title-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 0px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-button:focus, .footer-button:hover {
  cursor: pointer;
  background-color: var(--second-hover-btn-color);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.footer-icon-button {
  margin-left: 10px;
}

.filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters-link {
  margin-right: 8px;
}
.filters-link:last-child {
  margin-right: 0;
}

.filter-btn {
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.btn {
  background-color: var(--team-bcg-color);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  background-color: var(--accent-color);
  color: var(--hero-title-color);
}

.btn-current {
  background-color: var(--accent-color);
  color: var(--hero-title-color);
}

.container-portfolio {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio {
  width: calc(33.3333333333% - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  background-color: var(--main-bcg-color);
}
.portfolio:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.portfolio-padding {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.portfolio-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.hover-link .hover {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hover-link:hover .hover,
.hover-link:focus .hover {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.hover-hidden {
  position: relative;
  overflow: hidden;
}

.portfolio-text-hidden {
  position: absolute;
  top: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--hero-title-color);
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  height: 294px;
  overflow: auto;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hover-link:hover .portfolio-text-hidden, .hover-link:focus .portfolio-text-hidden {
  transform: translateY(0%);
  opacity: 1;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  opacity: 1;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition: opacity 250ms ease-in, transform 250ms ease-in;
}

.btn-modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: scale(0.6) rotate(-390deg);
}

.modal-field {
  margin-bottom: 10px;
}

.modal-field-margin {
  margin-bottom: 20px;
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-modal:focus > .modal-icon, .btn-modal:hover > .modal-icon {
  fill: var(--accent-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 12px;
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.modal-label {
  display: block;
  margin-bottom: 4px;
}

.modal-input {
  outline: none;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: rgb(33, 150, 243);
  cursor: pointer;
}

.modal-input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .input-icon {
  fill: var(--accent-color);
  cursor: pointer;
}

.modal-field-check {
  margin-bottom: 30px;
}

.user-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-comment::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-comment:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}

.checkbox-link {
  color: var(--accent-color);
}

.title-checkbox {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-icon-wrap {
  width: 16px;
  height: 15px;
  border: 2px solid var(--header-logo-color);
  margin-right: 9px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-checkbox-hidden:focus + .checkbox-icon-wrap {
  border-color: var(--accent-color);
}
.input-checkbox-hidden:checked + .checkbox-icon-wrap {
  background-color: var(--accent-color);
  background-image: url(../images/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-color: var(--accent-color);
}

.input-checkbox-hidden {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--hero-title-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-button:focus, .checkbox-button:hover {
  background-color: var(--second-hover-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}/*# sourceMappingURL=main.css.map */