// .advantages {
//   padding-top: 60px;
//   padding-bottom: 60px;
//   @include desktop {
//     padding-top: 94px;
//     padding-bottom: 94px;
//   }
// }

.advantages-list__icons {
  display: flex;
  width: 100%;
  height: 120px;
  background-color: var(--team-bcg-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  @include mobile {
    width: 450px;
  }

  @include tablet {
    display: flex;
    width: 354px;
    height: 120px;
    justify-content: center;
    align-items: center;
    background-color: var(--team-bcg-color);
    margin-bottom: 30px;
    border-radius: 4px;
  }
  @include desktop {
    display: flex;
    width: 270px;
    height: 120px;
    justify-content: center;
    align-items: center;
    background-color: var(--team-bcg-color);
    margin-bottom: 30px;
    border-radius: 4px;
  }
}

.advantages .container {
  display: flex;
}
.advantages-list {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
  @include desktop {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 0;
    margin-bottom: 0;
  }
}
.advantages-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  text-align: center;
  @include tablet {
    text-align: left;
  }
}
.advantages-list__text {
  color: var(--main-text-color);
  max-width: 100%;
  @include tablet {
    max-width: 270px;
    margin-bottom: 30px;
  }
}
.advantages-list__item {
  @include tablet {
    width: calc(50% - 30px);
    margin-left: 30px;
  }

  @include desktop {
    margin-right: 30px;
    margin-left: 0;
    &:last-child {
      margin-right: 0;
    }
  }
}
