.client-list {
  display: flex;
}
.client-link {
  display: flex;
  height: 92px;
  width: 170px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  fill: rgba(175, 177, 184, 1);
  padding: 16px 32px;

  transition: border-color 250ms $cubic-bezier, fill 250ms $cubic-bezier;
  &:hover,
  &:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
  }
}
.client-item + .client-item {
  margin-left: 30px;
}
