.header {
  background-color: var(--main-bcg-color);
  border-bottom: 1px solid #ececec;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px 10px 15px;
  }
  @include desktop {
    .container {
      display: flex;
      align-items: center;
    }
  }
}
.navigation {
  display: none;
}

.navigation__list,
.contacts {
  display: flex;
}
.header__text {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  @include tablet {
    font-size: 14px;
    line-height: 1.14;
  }
}

.contacts-icons {
  margin-right: 10px;
  fill: currentColor;
  display: block;
}

.header__contacts {
  display: none;

  margin-left: auto;
}
.navigation__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}
.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  color: var(--main-title-color);

  position: relative;
  display: flex;

  transition: color 250ms $cubic-bezier;
}
.navigation__link:hover,
.navigation__link:focus {
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
}
.current-underline::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);

  position: absolute;
  bottom: 0;
}

.contacts__link {
  color: var(--main-text-color);
  display: flex;
  align-items: center;

  transition: color 250ms $cubic-bezier;
  &:last-child {
    margin-left: 30px;
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

// .menu-btn {
//   margin-left: auto;
// }
.menu-button-open {
  display: inline-block;
  height: 40px;
  border: none;
  padding: 0;
  background-color: transparent;
  transition: fill 250ms $cubic-bezier;
  &:focus,
  &:hover {
    fill: var(--accent-color);
  }
}
.menu-button-close {
  display: inline-block;
  margin-left: auto;
  height: 40px;
  border: none;
  padding: 0;
  background-color: transparent;
  display: block;
}
.menu-container {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 15px;
  height: 100%;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--main-bcg-color);
  width: 100vw;
  height: 100vh;
  padding-top: 10px;
  padding-bottom: 48px;
}
.mobile__list {
  margin-bottom: 306px;
}

.mobile__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-tel__link {
  font-weight: 500;
  font-style: 4vw;
  line-height: 1.18;

  letter-spacing: 0.02em;

  color: var(--accent-color);
  @include mobile {
    font-size: 34px;
  }
}
.mobile-tel__list {
  margin-bottom: 32px;
}
.mobile-contacts__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;

  letter-spacing: 0.02em;

  color: var(--main-text-color);
}
.mobile-mail__list {
  margin-bottom: 64px;
}
.mobile-soc {
  display: flex;
}
.mobile-soc__link {
  font-weight: 500;
  font-size: 3vw;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  @include mobile {
    font-size: 18px;
  }
}
.mobile-soc__list + .mobile-soc__list {
  margin-left: 10px;
}
