.logo__text {
  font-family: $font-logo;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.header__logo {
  margin-right: 93px;
}
.logo__text--first-part {
  color: var(--accent-color);
}
.logo--black {
  color: var(--header-logo-color);
}
.logo--white {
  color: var(--hero-title-color);
}
