.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: auto;
  min-height: auto;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  opacity: 1;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  transition: opacity 250ms ease-in, transform 250ms ease-in;

  @include mobile {
    width: 450px;
    min-height: 609px;
  }

  @include desktop {
    width: 528px;
    min-height: 581px;
  }
}
.btn-modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  opacity: 0;
  transform: scale(0.6) rotate(-390deg);
}
.modal-field {
  margin-bottom: 10px;
}
.modal-field-margin {
  margin-bottom: 20px;
}
.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .btn-modal:focus > &,
  .btn-modal:hover > & {
    fill: var(--accent-color);
  }
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;

  color: var(--main-title-color);
  margin-bottom: 12px;
  text-align: center;

  @include desktop {
    line-height: 1.15;
  }
}
.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  font-weight: 400;

  color: var(--main-text-color);
}
.modal-label {
  display: block;
  margin-bottom: 4px;
}

.modal-input {
  outline: none;
  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: rgba(33, 150, 243, 1);
    cursor: pointer;
  }
}

.modal-input-wrap {
  position: relative;
}
.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms $cubic-bezier;
  .modal-input:focus + & {
    fill: var(--accent-color);
    cursor: pointer;
  }
}

.modal-field-check {
  margin-bottom: 30px;
}

.user-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  transition: border-color 250ms $cubic-bezier;
  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
    cursor: pointer;
    transition: border-color 250ms $cubic-bezier;
  }
  &:focus {
    border-color: var(--accent-color);
    cursor: pointer;
  }
  @include desktop {
    &::placeholder {
      font-size: 12px;
      line-height: 1.17;
    }
  }
}

.checkbox-link {
  color: var(--accent-color);
}
.title-checkbox {
  font-weight: 400;

  line-height: 1.17;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 320px) {
    font-size: 3vw;
  }
  @media screen and (min-width: 321px) {
    font-size: 12px;
  }


  @include desktop {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox-icon-wrap {
  border: 2px solid var(--header-logo-color);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3px;

  @media screen and (max-width: 320px) {
    width: 12px;
    height: 11px;
  }
  @media screen and (min-width: 321px) {
    width: 16px;
    height: 12px;
  }
  @include mobile {
    width: 16px;
    height: 15px;
    margin-right: 9px;
  }
  .input-checkbox-hidden:focus + & {
    border-color: var(--accent-color);
  }
  .input-checkbox-hidden:checked + & {
    background-color: var(--accent-color);
    background-image: url(../images/Vector.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-color: var(--accent-color);
  }
}

.input-checkbox-hidden {
  transition: border-color 250ms $cubic-bezier;
}

.checkbox-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;
  color: var(--hero-title-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px $box-shadow;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  transition: background-color 250ms $cubic-bezier,
    box-shadow 250ms $cubic-bezier;
  &:focus,
  &:hover {
    background-color: var(--second-hover-btn-color);
    box-shadow: 0px 4px 4px $box-shadow;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.mobile-aggrement {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  text-align: center;
}
.checkbox-text {
  display: flex;
}
