.filters-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  @include tablet {
    margin-bottom: 30px;
    justify-content: center;
  }

  @include desktop {
    justify-content: center;
    margin-bottom: 50px;
  }
}

.filters-link {
  margin-right: 8px;
  &:not(:last-child) {
    margin-bottom: 15px;
  }

  @include mobile {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
  @include tablet {
    &:nth-child(n + 1) {
      margin-bottom: 0;
    }
  }

  @include desktop {
    &:last-child {
      margin-right: 0;
    }
  }
}

.filter-btn {
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
.btn {
  background-color: var(--team-bcg-color);
  cursor: pointer;

  transition: color 250ms $cubic-bezier, background-color 250ms $cubic-bezier;
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--hero-title-color);
  }
}

.btn-current {
  background-color: var(--accent-color);
  color: var(--hero-title-color);
}
