.container-portfolio {
  padding: 20px 24px;
  border-bottom: 1px solid $border-portfolio;
  border-left: 1px solid $border-portfolio;
  border-right: 1px solid $border-portfolio;
  // @include tablet {
  //   flex-grow: 1;
  // }
}
.portfolio {
  background-color: var(--main-bcg-color);
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @include tablet {
    width: calc(50% - 30px);
    margin-left: 30px;
  }
  @include desktop {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;

    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
}
.container-tablet {
  @media (min-width: 768px) {
    padding-bottom: 56px;
  }
  @media (min-width: 1200px) {
    padding-bottom: 20px;
  }
}
// // .portfolio {

// }

.portfolio-padding {
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -30px;
  }

  // @include desktop {
  //   flex-wrap: wrap;
  //   margin-left: -30px;
  // }
}
.portfolio-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.hover-link .hover {
  transition: box-shadow 250ms $cubic-bezier;
}
.hover-link:hover .hover,
.hover-link:focus .hover {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
    0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.hover-hidden {
  position: relative;
  overflow: hidden;
}

.portfolio-text-hidden {
  position: absolute;
  top: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--hero-title-color);
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  height: 294px;
  overflow: auto;

  opacity: 0;

  transform: translateY(100%);
  transition: transform 250ms $cubic-bezier, opacity 250ms $cubic-bezier;
  .hover-link:hover &,
  .hover-link:focus & {
    transform: translateY(0%);
    opacity: 1;
  }
}
