:root {
  --hero-title-color: #ffffff;
  --main-bcg-color: #ffffff;
  --accent-color: #2196f3;
  --header-logo-color: #000000;
  --main-title-color: #212121;
  --main-text-color: #757575;
  --second-hover-btn-color: #188ce8;
  --team-bcg-color: #f5f4fa;
  --second-bcg-color: #2f303a;
  --address-color: rgba(255, 255, 255, 0.6);
}
$font-family: "Roboto", Arial, sans-serif;
$font-logo: "Raleway", Arial, sans-serif;
$soc-link: #afb1b8;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
$box-shadow: rgba(0, 0, 0, 0.15);
$border-portfolio: #eeeeee;
